<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emailer</title>
    <link rel="stylesheet" href="style2.css">
</head>
<body>
    <img  class="mits-logo" src="MITS-LOGO.jpeg">
    <img class="nba-logo" src="nba-logo.png">
    <div class="center">
        <h1>MAIL</h1>
    <form action="/send_email" method="post">
        
        <label>To : </label>
         <input type="email" required name="to" id="to"><br>
        Subject: <input type="text" name="subject" id="subject"><br><br>
        Message:<br> <textarea id="message" name="message"></textarea> <br><br>
        <input type="submit" value="Send">
    </form>
    </div>
</body>
</html>