<!DOCTYPE html>
<html>
<head>
    <title>Event calender</title>
    <link rel="stylesheet" href="/studentcalender.css">

</head>
<body style="background-color:rgb(255, 255, 255)">
<div style="display: flex;
            flex-direction: row;
            align-items: center;">
            
            <div style="

                background-color:rgb(176, 168, 168);
                height: 120px;
                width: 1800px;
                margin-bottom: 25px;
                ">
                <h1 class="main-heading">Event Calender</h1>
                <img  class="mits-logo" src="/MITS-LOGO.jpeg">
             
                </div>
</div>

<iframe src="https://calendar.google.com/calendar/embed?height=800&wkst=1&bgcolor=%23D50000&ctz=Asia%2FKolkata&showNav=1&showTitle=0&showTabs=1&src=MTljczE5N0BtZ2l0cy5hYy5pbg&src=Y18yaHJnbzRsbHE5ZGl0dDNjczJvbDBmMWo2c0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=ZW4uaW5kaWFuI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=YTZ0MTRnaHJqOG85MWQ4amFpNnRiM3FzZWNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23039BE5&color=%23AD1457&color=%2333B679&color=%230B8043&color=%238E24AA" style="border:solid 1px #777" width="1500" height="650" frameborder="0" scrolling="no"></iframe>






</body>



</html>