<!DOCTYPE html>
<html>
<head>
    <title>Event Calendar</title>
    <link rel="stylesheet" href="/studentcalender.css">

</head>
<body style="background-color:rgb(255, 255, 255)">
<div style="display: flex;
            flex-direction: row;
            align-items: center;">
            
            <div style="

                background-color:rgb(176, 168, 168);
                height: 120px;
                width: 1800px;
                margin-bottom: 25px;
                ">
                <h1 class="main-heading">Event Calendar</h1>
                <img  class="mits-logo" src="/MITS-LOGO.jpeg">
             
                </div>
</div>

<iframe src="https://calendar.google.com/calendar/embed?height=500&wkst=1&bgcolor=%23D50000&ctz=Asia%2FKolkata&showTitle=0&showNav=1&showDate=1&showCalendars=1&showTz=1&src=ZXZlbnRtYW5hZ2VtZW50NDQ0NEBnbWFpbC5jb20&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=ZW4uaW5kaWFuI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23039BE5&color=%2333B679&color=%230B8043" style="border:solid 1px #777" width="1500" height="650" frameborder="0" scrolling="no"></iframe>






</body>



</html>